target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
checkstyle.xml
workspace.xml

### IntelliJ IDEA ###
.idea/
/.idea
*.iws
*.ipr


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

!**/src/main/**/log4j.properties
!**/src/main/**/application.properties

### Custom ###
.log
*.iml
logs
*.log
*/pgdata
*/rabbitmq_data
*/jenkins_home
