<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<p th:text="${'Обработанные заявки на запись: '}">VALUE</p>
<div th:each="order : ${orders}">
    <a th:href="@{/orders/{id}(id=${order.getId})}"
       th:text="${order.getPhoneNumber + ', ' + order.getNameAsClient}">order</a>
</div>
<br/>
<form th:method="get" th:action="@{/orders}">
    <input type="submit" value="Назад"/>
</form>
<hr/>
</body>
</html>
