<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>

<body>
<p th:text="${'Дата и время: ' + order.getDate()}">VALUE</p>
<p th:text="${'Номер телефона: ' + order.getPhoneNumber()}">VALUE</p>
<p th:text="${'Имя: ' + order.getNameAsClient()}">VALUE</p>
<p th:text="${'Цена: ' + order.getPrice()}">VALUE</p>
<p th:text="${'Комменатрий: ' + order.getComment()}">VALUE</p>

<form th:if="${!order.getSuccessful()}" th:action="@{/updateOrderClientTrue}" method="post">
    <input type="hidden" th:name="orderId" th:value="${order.getId()}"/>
    <button type="submit">Человек записан в календарь</button>
</form>
<form th:if="${order.getSuccessful()}" th:action="@{/updateOrderClientFalse}" method="post">
    <input type="hidden" th:name="orderId" th:value="${order.getId()}"/>
    <button type="submit">В процессе записи</button>
</form>
<hr/>
<p th:text="${'Песни : '}">VALUE</p>
<div th:each="song : ${songs}">
    <a th:href="@{/songs/{id}(id=${song.getId})}"
       th:text="${'ID: ' + song.getId() +', Название: ' + song.getSongName()}">song
    </a>
</div>
<br>
<hr>
<br>
<a th:href="@{/orders/new}"
   th:text="${'Новые заявки'}"></a>
<br/>
<br/>
<a th:href="@{/orders/fin}"
   th:text="${'Обработанные заявки'}"></a>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<form th:action="@{/deleteOrder}" method="post">
    <input type="hidden" th:name="orderId" th:value="${order.getId()}"/>
    <button type="submit">Удалить заказ</button>
</form>
</body>
</html>