<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>

<body>
<p th:text="${'Дата и время: ' + song.getDate()}">VALUE</p>
<p th:text="${'Название песни: ' + song.getSongName()}">VALUE</p>
<p>
  <span th:text="${'Ссылка на Youtube: '}" class="link-text"></span>
  <a th:href="${song.getLink()}" target="_blank" th:text="${song.getLink()}" class="link-highlight"></a>
</p>
<p th:text="${'Кол-во голосов: ' + song.getSingerCount()}">VALUE</p>
<p th:text="${'Кто будет петь: ' + song.getWhoWillSing()}">VALUE</p>

<th:block th:if="${song.getHasAudio}">
  <a th:href="@{/data/getAudio(id=${song.getId})}" th:text="${'Скачать MP3'}">Audio Link</a>
</th:block>
<a th:href="@{/data/getVoice(id=${song.getId})}" th:text="${'Скачать голосовое сообщение'}">Voice Link</a>
<hr/>
<br>
<form th:action="@{/orders/{id}(id=${song.getOrderClient().getId()})}" method="get">
  <button type="submit">Назад</button>
</form>
</body>
</html>